img {
  display: inline;
}

.feedback {
  max-width: 600px;
  margin: 20px auto;
}

.feedback__title {
  margin-bottom: 20px;
  font-size: 3.4rem;
  text-align: center;
}

.loader {
  display: none;
}

.loader_active {
  display: block;
  margin: 0 auto 20px;
}

.feedbacks {
  margin-bottom: 3px;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.star {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.star:first-child {
  margin-left: 0;
}

.feedbacks__title {
  margin: 5px 0 5px;
}

.feedbacks__date {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #b4b4b4;
}

.feedbacks__text {
  font-size: 1.4rem;
}

.more__feedback {
  display: block;
  max-width: 140px;
  margin: 0 auto;
  padding: 10px 15px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 600;
  background-color: #f5f5f5;
  transition: .2s background-color ease-in, .1s transform;
  cursor: pointer;
}

.more__feedback:hover {
  background-color: #e7e7e7;
}

.more__feedback:active {
  transform: scale(.9);
}