img {
  display: inline;
}

.feedback {
  max-width: 850px;
  margin: 20px auto;
}

.feedback__title {
  margin-bottom: 8px;
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.feedback__text {
  margin-bottom: 3.2rem;
  font-size: 1.6rem;
  text-align: center;
  color: #777e90;
}

.loader {
  display: none;
}

.loader_active {
  display: block;
  margin: 0 auto 20px;
}

.feedbacks {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  background-color: #fafafa;
}

.feedbacks svg {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  fill: #ffb71d;
}

.feedbacks svg:first-child {
  margin-left: 0;
}

.feedbacks__title {
  margin: 16px 0 16px;
  font-size: 1.8rem;
}

.feedbacks__date {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #b4b4b4;
}

.feedbacks__text {
  font-size: 1.6rem;
}

.more__feedback {
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #fafafa;
  transition: .1s background-color ease-in, .1s transform;
  cursor: pointer;
}

.more__feedback:hover {
  background-color: #f3f3f3;
}

.more__feedback:active {
  transform: scale(.98);
}