@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff"),
       url("../fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
       url("../fonts/Inter-Medium.woff") format("woff"),
       url("../fonts/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
       url("../fonts/Inter-SemiBold.woff") format("woff"),
       url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
       url("../fonts/Inter-Bold.woff") format("woff"),
       url("../fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 400 62.5%/1.5 'Inter', Arial, sans-serif;
  color: #2f2f35;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container {
  position: relative;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 3rem;
}

/* Header
============================= */
.header {
  position: relative;
  z-index: 1;
  margin-bottom: 5rem;
  border-bottom: 1px solid #d0d0d0;
  background-color: #fff;
  box-shadow: 0 0 3px #aeaeae;
}

.logo-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}

.logo-group > a {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.logo-group svg {
  width: 44px;
  height: 44px;
}

.logo-group span {
  font-size: 2.4rem;
  font-weight: 700;
}

.navbar {
  flex-basis: 60%;
}

.navbar__item {
  display: inline-block;
  padding: 1.4rem 2.4rem;
  cursor: pointer;
}

.navbar__item:first-child {
  border-radius: 5px;
  background-color: #eee;
  transition: .2s background-color ease-in;
}

.navbar__item:first-child:hover {
  background-color: #e4e4e4;
}

.burger-menu {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 13px;
  margin-right: 8px;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2f2f35;
  transition: .2s all ease;
}

.burger-menu::before {
  top: 0;
  left: 0;
}

.burger-menu::after {
  bottom: 0;
  left: 0;
}

.burger-menu_active::before {
  top: 5px;
  transform: rotate(45deg);
}

.burger-menu_active::after {
  bottom: 5.4px;
  transform: rotate(-45deg);
}

.burger-menu span {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #2f2f35;
  transition: .2s opacity ease;
}

.span-active {
  opacity: 0;
}

.navbar__item:nth-child(2) {
  position: relative;
}

.arrow {
  display: inline-block;
  position: relative;
  right: 1rem;
  bottom: .2rem;
  width: 1rem;
  height: 1rem;
  border-bottom: 3px solid #2f2f35;
  border-left: 3px solid #2f2f35;
  transform-origin: .4rem .7rem;
  transform: rotate(315deg);
  transition: .3s transform;
}

.navbar__item:nth-child(2):hover .arrow {
  transform: rotate(135deg);
}

.navbar__item:last-child {
  padding-left: .5rem;
}

.navbar__item a,
.drop-down-menu__item a,
.reviews__item a {
  font-size: 1.6rem;
  font-weight: 500;
}

.drop-down-menu {
  visibility: hidden;
  position: absolute;
  top: 4.5rem;
  right: -2.5rem;
  z-index: 2;
  width: 25.7rem;
  overflow: hidden;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0;
  transition: .2s all linear;
}

.navbar__item:nth-child(2):hover .drop-down-menu {
  visibility: visible;
  opacity: 1;
}

.drop-down-menu__item {
  padding-left: 2.4rem;
  line-height: 3.4;
  transition: .3s background-color;
}

.drop-down-menu__item:hover {
  background-color: #f5f5f5;
}

.drop-down-menu__item svg {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  vertical-align: middle;
}

.reviews {
  display: flex;
  gap: 3rem;
  margin-bottom: .4rem;
}

.reviews__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
  transition: .2s color linear;
}

.reviews__item:hover a {
  color: #3b71fe;
}

.reviews__item svg {
  width: 20px;
  height: 20px;
}

/* Catalog
============================= */
.catalog-menu {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 8.5rem;
  left: 3rem;
  right: 3rem;
  min-height: 52rem;
  padding: 2rem 0;
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  transition: .2s all ease-in;
  opacity: 0;
}

.catalog-menu_active {
  visibility: visible;
  opacity: 1;
}

.left-col {
  flex-basis: 30%;
  border-right: 1px solid #d0d0d0;
}

.left-col li,
.right-col li {
  font-size: 1.6rem;
}

.left-col li {
  font-weight: 500;
  transition: .2s color linear;
}

.left-col li:first-child {
  color: #777E90;
}

.left-col li:hover,
.right-col li a:hover {
  color: #3b71fe;
}

.left-col li a {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  position: relative;
  padding: 1.4rem 3.2rem;
}

.left-col li:nth-child(n+3):not(:last-child) a::after {
  content: "";
  display: block;
  position: absolute;
  right: 3.3rem;
  width: 8px;
  height: 8px;
  border-top: 1px solid #2f2f35;
  border-right: 1px solid #2f2f35;
  transform: rotate(45deg);
}

.left-col li span {
  display: flex;
  gap: .5rem;
  padding: 0 .7rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  line-height: 2;
  background-color: #f5f5f5;
}

.left-col li span img {
  align-self: center;
  width: 1.28rem;
}

.right-col {
  display: none;
}

.right-col_active {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  padding: 0 3.2rem;
}

.right-col h2 {
  margin-bottom: 1.6rem;
  font-size: 2.8rem;
  font-weight: 600;
}

.right-col ul {
  display: flex;
  flex-wrap: wrap;
}

.right-col li {
  flex-basis: 50%;
  padding-bottom: 2.4rem;
}

.right-col li a {
  transition: .2s color linear;
}

.catalog-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14.8rem;
  margin-top: auto;
  padding: 0 3.5rem;
  border-radius: 1.4rem;
  background: #1B1B1B url(../images/bg-catalog-banner.png) no-repeat right;
}

.catalog-banner h3 {
  font-size: 3.4rem;
  line-height: 4rem;
  color: #fff;
}

.catalog-banner p {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, .75);
  white-space: pre-line;
}

.catalog-banner__link {
  padding: .8rem 1.8rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #fff;
}

/* Slider
============================= */
.slider {
  position: relative;
  max-width: 117rem;
}

.slider__item {
  overflow: hidden;
}

.slider__track {
  display: flex;
  gap: 3rem;
  transition: .5s all ease-in-out;
}

.slider__inner {
  flex-shrink: 0;
  max-width: 87rem;
  width: 100%;
}

.slider__image {
  width: 100%;
}

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - (47px / 2));
  width: 4.7rem;
  height: 4.7rem;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.slider__arrow_prev {
  left: calc(-47px / 2);
}

.slider__arrow_next {
  right: calc(-47px / 2);
}

.slider__arrow_prev::before,
.slider__arrow_next::after {
  content: "";
  top: 1rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: 3px solid #4e4e56;
}

.slider__arrow_prev::before {
  border-left: 3px solid #4e4e56;
  transform-origin: .8rem 1.1rem;
  transform: rotate(45deg);
}

.slider__arrow_next::after {
  border-right: 3px solid #4e4e56;
  transform-origin: .7rem 1.1rem;
  transform: rotate(-45deg);
}

/* Overlay
============================= */
.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  visibility: hidden;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .2s all ease-in;
  opacity: 0;
}

.overlay-active::before {
  visibility: visible;
  opacity: 1;
}