@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff"),
       url("../fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
       url("../fonts/Inter-Medium.woff") format("woff"),
       url("../fonts/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
       url("../fonts/Inter-SemiBold.woff") format("woff"),
       url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
       url("../fonts/Inter-Bold.woff") format("woff"),
       url("../fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 400 62.5%/1.5 'Inter', Arial, sans-serif;
  color: #2f2f35;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 50px 0 96px 0
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.container {
  position: relative;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-title {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.main-text {
  margin-bottom: 3.4rem;
  font-size: 2rem;
  text-align: center;
}

/* Main Button
============================= */
.main-button {
  text-align: center;
}

.main-button a {
  display: inline-block;
  position: relative;
  padding: 13px 54px 13px 32px;
  border: 1px solid #e6e8ec;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #f5f5f5;
  transition: .3s background-color;
}

.main-button a::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 35px;
  width: 10px;
  height: 10px;
  border: solid #2f2f35;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  transition: .3s all ease;
}

.main-button a:hover {
  background-color: #efefef;
}

.main-button a:hover::after {
  right: 28px;
}

/* Header
============================= */
.header {
  position: relative;
  z-index: 4;
  border-bottom: 1px solid #d0d0d0;
  background-color: #fff;
  box-shadow: 0 0 3px #aeaeae;
}

.logo-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}

.logo-group > a {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.logo-group svg {
  width: 44px;
  height: 44px;
}

.logo-group span {
  font-size: 2.4rem;
  font-weight: 700;
}

.navbar {
  flex-basis: 60%;
}

.navbar__item {
  display: inline-block;
  padding: 1.4rem 2.4rem;
}

.navbar__item:first-child {
  border-radius: 5px;
  background-color: #eee;
  transition: .2s background-color ease-in;
}

.navbar__item:first-child:hover {
  background-color: #e4e4e4;
}

.navbar__item:nth-child(-n + 2) {
  cursor: pointer;
}

.burger-menu {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 12px;
  margin-right: 8px;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2f2f35;
  transition: .2s all ease;
}

.burger-menu::before {
  top: 0;
  left: 0;
}

.burger-menu::after {
  bottom: 0;
  left: 0;
}

.burger-menu_active::before {
  top: 5px;
  transform: rotate(45deg);
}

.burger-menu_active::after {
  bottom: 5.4px;
  transform: rotate(-45deg);
}

.burger-menu span {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2f2f35;
  transition: .2s opacity ease;
}

.span-active {
  opacity: 0;
}

.navbar__item:nth-child(2) {
  position: relative;
}

.arrow {
  display: inline-block;
  position: relative;
  right: 1rem;
  bottom: .2rem;
  width: 1rem;
  height: 1rem;
  border: solid #2f2f35;
  border-width: 0 0 3px 3px;
  transform-origin: .4rem .7rem;
  transform: rotate(315deg);
  transition: .3s all;
}

.navbar__item:nth-child(2):hover .arrow {
  transform: rotate(135deg);
}

.navbar__item:last-child {
  padding-left: .5rem;
}

.navbar__item a,
.drop-down-menu__item a,
.reviews__item a {
  font-size: 1.6rem;
  font-weight: 500;
}

.navbar__item:nth-child(2) a:active {
  pointer-events: none;
}

.drop-down-menu {
  visibility: hidden;
  position: absolute;
  top: 4.5rem;
  right: -2.5rem;
  z-index: 2;
  width: 25.7rem;
  overflow: hidden;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0;
  transition: .3s all;
}

.navbar__item:nth-child(2):hover .drop-down-menu {
  visibility: visible;
  opacity: 1;
}

.drop-down-menu__item {
  padding-left: 2.4rem;
  line-height: 3.4;
  transition: .3s background-color;
}

.drop-down-menu__item:hover {
  background-color: #f5f5f5;
}

.drop-down-menu__item svg {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  vertical-align: middle;
}

.reviews {
  display: flex;
  gap: 3rem;
  margin-bottom: .4rem;
}

.reviews__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
  transition: .3s color;
}

.reviews__item:hover a {
  color: #3b71fe;
}

.reviews__item svg {
  width: 20px;
  height: 20px;
}

/* Catalog
============================= */
.catalog-menu {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 8.5rem;
  left: 3rem;
  right: 3rem;
  min-height: 52rem;
  padding: 2rem 0;
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  transition: .2s all ease-in;
  opacity: 0;
}

.catalog-menu_active {
  visibility: visible;
  opacity: 1;
}

.left-col {
  flex-basis: 30%;
  border-right: 1px solid #d0d0d0;
}

.left-col li,
.right-col li {
  font-size: 1.6rem;
}

.left-col li {
  font-weight: 500;
  transition: .3s color;
}

.left-col li:first-child {
  color: #777E90;
}

.left-col li:hover,
.right-col li a:hover {
  color: #3b71fe;
}

.left-col li span {
  transition: 1s color;
}

.left-col li:hover span {
  color: #2f2f35;
}

.left-col li a {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  position: relative;
  padding: 1.4rem 3.2rem;
}

.left-col li:nth-child(n+3):not(:last-child) a::after {
  content: "";
  display: block;
  position: absolute;
  right: 3.3rem;
  width: 8px;
  height: 8px;
  border: solid #2f2f35;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
}

.left-col li span {
  display: flex;
  gap: .5rem;
  padding: 0 .7rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  line-height: 2;
  background-color: #f5f5f5;
}

.left-col li span img {
  align-self: center;
  width: 1.28rem;
}

.right-col {
  display: none;
}

.right-col_active {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  padding: 0 3.2rem;
}

.right-col__title {
  margin-bottom: 1.6rem;
  font-size: 2.8rem;
  font-weight: 600;
}

.right-col ul {
  display: flex;
  flex-wrap: wrap;
}

.right-col li {
  flex-basis: 50%;
  padding-bottom: 2.4rem;
}

.right-col li a {
  transition: .3s color;
}

.catalog-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14.8rem;
  margin-top: auto;
  padding: 0 3.5rem;
  border-radius: 1.4rem;
  background: #1B1B1B url(../images/bg-catalog-banner.png) no-repeat right;
}

.catalog-banner__title {
  font-size: 3.4rem;
  line-height: 4rem;
  color: #fff;
}

.catalog-banner__text p {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, .75);
  white-space: pre-line;
}

.catalog-banner__link {
  padding: .8rem 1.8rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #fff;
}

/* Slider
============================= */
.slider {
  position: relative;
  max-width: 117rem;
  margin-bottom: 8rem;
}

.slider__item {
  overflow: hidden;
  user-select: none;
}

.slider__track {
  display: flex;
  gap: 3rem;
  transition: .5s all ease;
}

.slider__inner {
  flex-shrink: 0;
  max-width: 87rem;
  width: 100%;
}

.slider__image {
  width: 100%;
}

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - (47px / 2));
  width: 4.7rem;
  height: 4.7rem;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.slider__arrow_prev {
  left: calc(-47px / 2);
}

.slider__arrow_next {
  right: calc(-47px / 2);
}

.slider__arrow_prev::before,
.slider__arrow_next::after {
  content: "";
  top: 1rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: 3px solid #4e4e56;
}

.slider__arrow_prev::before {
  border-left: 3px solid #4e4e56;
  transform-origin: .8rem 1.1rem;
  transform: rotate(45deg);
}

.slider__arrow_next::after {
  border-right: 3px solid #4e4e56;
  transform-origin: .7rem 1.1rem;
  transform: rotate(-45deg);
}

/* Categories
============================= */
.category {
  margin-bottom: 8rem;
}

.category_inner {
  max-width: 27.1rem;
  width: 23.1%;
  border-radius: 1.4rem;
  background-color: #f2f3f5;
}

.category_inner a {
  display: block;
  position: relative;
  height: 27rem;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 2rem;
}

.description__title {
  font-size: 2rem;
}

.description__text {
  font-size: 1.4rem;
  color: #9fa4bc;
}

.category_image {
  position: absolute;
  bottom: 0;
  border-radius: 0 0 1.4rem;
}

/* Day goods
============================= */
.day-goods {
  margin-bottom: 8rem;
}

.time-limit {
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  gap: 32px;
  padding: 4rem;
  border: 1px solid #e6e8ec;
  border-radius: 20px;
}

.product img {
  max-width: 166px;
  width: 100%;
}

.product__body {
  max-width: 289px;
}

.product__title {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: color .2s;
}

.product__title:hover {
  color: #3B71FE;
}

.product__reviews {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.product__reviews svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  fill: #ffb71d;
}

.product__reviews svg:last-of-type {
  margin-right: 12px;
}

.product__reviews a {
  font-size: 1.6rem;
  color: #9fa4bc;
}

.product__reviews a:hover {
  text-decoration: underline;
}

.product__price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.price {
  font-size: 2.2rem;
  font-weight: 700;
}

.old_price {
  font-size: 1.8rem;
  text-decoration: line-through;
  color: #9fa4bc;
}

.discount {
  padding: 2px 12px 2px;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  background-color: #fa3b3b;
}

.timer {
  display: flex;
  gap: 1.6rem;
}

.timer span:nth-child(odd) {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  color: #23262f;
}

.timer span:nth-child(odd):before {
  position: absolute;
  left: 0;
  bottom: -21px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #9fa4bc;
}

.timer span:nth-child(1):before {
  content: "Дни";
}

.timer span:nth-child(3):before {
  content: "Часы";
}

.timer span:nth-child(5):before {
  content: "Минуты";
}

.timer span:nth-child(7):before {
  content: "Секунды";
}

.timer span:nth-child(even) {
  font-size: 2.8rem;
  font-weight: 700;
  color: #777e90;
}

/* Popular goods
============================= */
.popular-goods {
  margin-bottom: 8rem;
}

.popular-goods_title {
  margin-bottom: 8px;
}

.tab-menu {
  margin-bottom: 34px;
}

.tab-menu ul {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.tab-menu_link {
  padding: 9px 16px;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #000;
  background-color: #F6F6F6;
  cursor: pointer;
}

.link_active {
  border: 1px solid #000;
  background-color: #fff;
 }

.tab-products {
  display: none
}

.tab-products_active {
  display: block;
}

.slider-mod {
  margin-bottom: 2.8rem;
}

.popular-goods_inner {
  max-width: 270px;
  width: 23.1%;
}

.popular-goods_image {
  margin-bottom: 8px;
  border-radius: 6px;
}

.product__meta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}

.product__rate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product__rate svg {
  width: 16px;
  height: 16px;
  fill: #ffb71d;
}

.product__rate span,
.product__comments span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #777e90;
}

.product__comments {
  display: flex;
  align-items: center;
  gap: 2px;
}

.product__comments svg {
  width: 22px;
  height: 22px;
  fill: #9fa4bc;
}

.product__name {
  display: inline-block;
  font-size: 18px;
  transition: .2s color;
}

.product__name:hover {
  color: #3B71FE;
}

/* Recommended goods
============================= */
.recommended-goods_inner {
  max-width: 270px;
  width: 23.1%;
}

.recommended-goods_image {
  margin-bottom: 8px;
  border-radius: 6px;
}

/* Assistance
============================= */
.assistance {
  margin-bottom: 80px;
  padding: 60px 0 60px 0;
  background-color: #f7f7f7;
}

.assistance__wrapper {
  background: url(../images/img-chat-new.avif) no-repeat right 0 top -20px;
}

.assistance__title {
  margin-bottom: 16px;
  max-width: 620px;
  font-size: 3.4rem;
  font-weight: 600;
}

.assistance__text {
  margin-bottom: 28px;
  font-size: 1.6rem;
  font-weight: 500;
}

.assistance a {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 279px;
}

.assistance span {
  font-size: 2rem;
  font-weight: 500;
  color: #3b71fe;
}

.assistance svg {
  width: 37px;
  height: 37px;
  fill: #fff;
}

/* Posts
============================= */
.posts {
  margin-bottom: 92px;
}

.posts__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;  
}

.posts__inner {
  max-width: 368px;
  height: 468px;
  overflow: hidden;
  border-radius: 15px;
}

.posts__inner:hover img {
  transform: scale(1.1)
}

.posts__body {
  position: relative;
  height: 100%;
}

.posts__body::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .6));
}

.posts__body a {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.posts__body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s transform;
}

.posts__content {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  max-width: 350px;
  padding: 0 24px 24px 24px;
  font-weight: 600;
  color: #fff;
}

.posts__info {
  margin-bottom: 8px;
  font-size: 1.6rem;
}

.posts__title {
  font-size: 2.4rem;
  line-height: 1.2;
}

/* About us
============================= */
.about-us__content {
  position: relative;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 150px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  transition: .3s all ease-in;
}

.about-us__content_active {
  display: block;
  height: 238px;
}

.about-us__content::after {
  content: "";
	position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 20%), white 80%);
  pointer-events: none;
}

.about-us__content_bgNone::after {
  background: none;
}

.about-us__title-h1 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 600;
}

.about-us__title-h2{
  margin-bottom: 6px;
  font-size: 1.6rem;
  font-weight: 600;
}

.about-us__text {
  margin-bottom: 18px;
  font-size: 1.6rem;
}

.about-us__btn {
  position: relative;
  margin-top: 5px;
  padding-right: 20px;
  border: none;
  font: 1.6rem 'Inter';
  font-weight: 500;
  color: #3b71fe;
  background-color: transparent;
  cursor: pointer;
}

.about-us__btn::before {
  content: '';
  position: absolute;
  top: 4px;
  right: -5px;
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #3b71fe;
  border-bottom: 2px solid #3b71fe;
  transform: rotate(45deg);
  transition: .3s all ease-in;
}

.about-us__btn_active::before {
  transform-origin: 0.5rem 0.8rem;
  transform: rotate(225deg);
}

/* Footer
============================= */
.footer__content {
  border-top: 1px solid #ebeaed;
  border-bottom: 1px solid #ebeaed;
}

.content_container {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 40px 30px;
}

.footer__menu {
  max-width: 265px;
  width: 100%;
}

.footer__menu li {
  margin-bottom: 7px;
}

.footer__menu li:first-child {
  font-size: 2rem;
  font-weight: 500;
}

.footer__menu:nth-child(2) li:nth-child(2) {
  display: flex;
  align-items: flex-start;
  gap: 13px;
}

.footer__menu:nth-child(2) li:nth-child(2) span {
  padding: 2px 9px;
  border: 1px solid #e6e8ec;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #f5f5f5;
  transition: 1s all;
}

.footer__menu:nth-child(2) li:nth-child(2):hover span {
  color: #2f2f35;
}

.footer__menu li:not(:first-child) {
  font-size: 1.8rem;
  transition: .3s color;
  cursor: pointer;
}

.footer__menu li:not(:first-child):hover {
  color: #3b71fe;
}

.contacts {
  max-width: 265px;
  width: 100%;
}

.contacts__title {
  margin-bottom: 8px;
  font-size: 2rem;
  font-weight: 500;
}

.contacts__icon {
  display: flex;
  justify-content: space-between;
  max-width: 185px;
  height: 48px;
  margin-bottom: 28px;
}

.contacts__icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.contacts__icon a:first-child svg {
  width: 29px;
  height: 29px;
}

.contacts__icon a:nth-of-type(2) svg {
  width: 23px;
  height: 23px;
}

.contacts a:last-of-type svg {
  width: 19px;
  height: 19px;
}

.contacts__number {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 2rem;
  font-weight: 700;
  transition: .3s color;
}

.contacts__number:hover {
  color: #3b71fe;
}

.contacts__shedule {
  max-width: 209px;
  font-size: 14px;
  color: #9fa4bc;
}

.footer__info {
  padding: 16px 0;
  font-size: 1.4rem;
  color: #9fa4bc;
}

.info_container {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  width: 100%;
}

.footer__link:hover {
  text-decoration: underline;
}

/* Overlay
============================= */
.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  visibility: hidden;
  position: fixed;
  inset: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: .2s all ease-in;
  opacity: 0;
}

.overlay-active::before {
  visibility: visible;
  opacity: 1;
}